.home {
  max-width: 1000px;
  padding: 20px;
  text-align: center;

  img {
    max-width: 100%;
    margin-bottom: 30px;
  }

  p {
    &:first-child {
      margin-top: 100px;
    }

    padding: 0 10px;

    font-family: 'Fira Sans';
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    line-height: 1.8em;
  }
}
