.followSuccess {
  position: absolute;
  height: 100%;
  background-image: url('./candle_pic.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;

  & .content {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 10%;
  }

  & p {
    padding: 40px 0;
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Fira Sans';
    font-size: 30px;
    font-weight: 500;
  }

  & .followedButton {
    text-align: center;
    margin-left: 70px;
    margin-bottom: 40px;
  }
}
