$boxShadow: 1px 2px 2px rgba(0, 0, 0, 0.3);

.release {
  padding-top: 3px;
}

.title, .date {
  font-family: 'Fira Sans';
  text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.2);
  text-align: center;
  font-weight: 400;
}

.title {
  font-size: 18px;
  margin-bottom: 5px;
}

.date {
  font-size: 16px;
  margin-top: 0;
}

.cover {
  padding: 0 20px;
  text-align: center;
  margin: 0 auto;

  img {
    width: 100%;
    max-width: 336px;
    box-shadow: $boxShadow;
  }
}

.links {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  max-width: 636px;
  margin-top: 10px;
}

.musicButton {
  width: 180px;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: $boxShadow;
  transition: background-color 300ms;
  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 5px;

  img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (min-width: 1261px) {
  .release {
    text-align: center;
  }

  .links {
    display: inline-block;
    width: 430px;
    text-align: right;
    vertical-align: middle;
    margin-top: 0px;
  }

  .cover {
    display: inline-block;
    width: 430px;
    text-align: left;
    vertical-align: middle;
    margin-top: 5px;
  }
}
