@import 'shared/styles/breakpoints.css';

:root {
  --top-margin: 20px;
  --left-margin: calc(var(--navigationWidth) - 1);
}

html, body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.background {
  /* from positioning mixin */
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: left var(--navigationTransitionDuration) ease-in-out;

  @media (--laptop-up) {
    left: var(--left-margin);
    width: auto;
  }

  & > *:not(.background) {
    @media (--laptop-up) {
      margin-top: var(--top-margin);
    }
  }
  /* from positioning mixin */

  background-image: url('./main_bg.jpg');
  background-size: 100% 1865px;
  position: fixed;
  z-index: -1;
}

@media (max-width: 1200px) {
  .background {
    background-size: auto;
  }
}

.main {
  /* from positioning mixin */
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: left var(--navigationTransitionDuration) ease-in-out;

  @media (--laptop-up) {
    left: calc(var(--navigationWidth) - 1);
    width: auto;
  }

  & > *:not(.background) {
    @media (--laptop-up) {
      margin-top: var(--top-margin);
    }
  }
  /* from positioning mixin */

  position: absolute;

  & > * {
    margin-top: calc(var(--mobileBannerHeight) + 5px);
  }
}

:global(.navIsOpen) .background,
:global(.navIsOpen) .main {
  left: calc(var(--navigationWidth) - 1);
}

/**
 * Ensure no zoom occurs on mobile for input elements
 * https://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone
 */

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px !important;
}
