.contact {
  height: 35px;
  width: 100%;
  text-align: center;

  display: none;
  @media (min-height: 362px) {
    display: block;
  }
}

.email {
  font-family: 'Fira Sans';
  font-weight: 300;
  font-size: 14px;
  color: white;
  opacity: 0.7;
  line-height: 2em;
}
