@import 'shared/styles/breakpoints.css';

.navigation {
  background-image: url('./navigation_bg.jpg');
  height: 100vh;
  top: 0;
  left: calc(-var(--navigationWidth));
  width: var(--navigationWidth);
  display: inline-block;
  position: fixed;
  transition: left var(--navigationTransitionDuration) ease-in-out;
  z-index: 1;

  @media (--laptop-up) {
    left: 0;
  }
}

:global(.navIsOpen) .navigation {
  left: 0;
}

.bottom {
  position: absolute;
  bottom: 8px;
  left: 14px;
}

.toggleButton {
  background: none;
  border: none;
  outline: none;

  font-family: 'Fira Sans';
  font-size: 21px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;

  cursor: pointer;
  text-transform: uppercase;

  transition: opacity 200ms;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
