@import '~styles/_breakpoints';
@import '~styles/_variables';

$leftMargin: $navigationWidth - 1;
$topMargin: 20px;

html, body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

@mixin positioning {
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: left $navigationTransitionDuration ease-in-out;

  @include breakpoint (laptop-up) {
    left: $leftMargin;
    width: auto;
    > *:not(.background) {
      margin-top: $topMargin;
    }
  }
}

.background {
  @include positioning;
  background-image: url('./images/main_bg.jpg');
  background-size: 100% 1865px;
  position: fixed;
  z-index: -1;
}

@media (max-width: 1200px) {
  .background {
    background-size: auto;
  }
}

.main {
  @include positioning;
  position: absolute;

  > * {
    margin-top: $mobileBannerHeight + 5px;
  }
}

:global(.navIsOpen) .background,
:global(.navIsOpen) .main {
  left: $leftMargin;
}
