@import '~styles/_breakpoints';
@import '~styles/_variables';

$leftMargin: $navigationWidth - 1;

.main {
  background-image: url('./images/main_bg.jpg');
  background-size: 100% 1865px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: left $navigationTransitionDuration ease-in-out;
  right: 0;
  width: 100vw;

  > * {
    margin-top: $mobileBannerHeight;
  }

  @include breakpoint (laptop-up) {
    left: $leftMargin;
    > * {
      margin-top: 0;
    }
  }
}

:global(.navIsOpen) .main {
  left: $leftMargin;
}

@media (max-width: 1200px) {
  .main {
    background-size: auto;
  }
}
