.container {
  padding: 0 10px;
}

.tourListings, .tourListingsMobile {
  font-family: 'Fira Sans';
  font-size: 14px;
  width: 100%;
  max-width: 743px;
  margin: 0 auto;
  border-collapse: collapse;

  td {
    vertical-align: top;
  }

  tr:not(:first-child) td {
    border-top: 1px solid rgba(151, 151, 151, 0.2);
  }

  .dates {
    strong {
      font-weight: 500;
    }
  }

  .acts {
    display: block;
    font-weight: 200;
    opacity: 0.7;
  }
}


.tourListings {
  margin-top: 40px;

  td {
    padding: 20px 5px;
  }

  .dates > *:not(:first-child) {
    margin-left: 30px;
  }

  .listingLink {
    display: inline-block;
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

.tourListingsMobile {
  td {
    padding: 13px 5px;
  }

  .dates > *:not(:first-child) {
    margin-left: 16px;
  }

  .venue, .acts {
    margin-top: 8px;
  }

  .listingLink {
    display: block;
    &:not(:first-child) {
      margin-top: 6px;
    }
  }
}

.listingLink {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 3px;
  padding: 7px 10px;
  width: auto;
  white-space: nowrap;
  text-align: center;

  transition: background-color 300ms;

  &:hover {
    cursor: pointer;
    background-color: rgba(50, 50, 50, 0.05);
  }
}
