.release {
  padding-top: 3px;
  padding-bottom: 20px;
}

.title, .date {
  font-family: 'Fira Sans';
  text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.2);
  text-align: center;
  font-weight: 400;
}

.title {
  font-size: 18px;
  margin-bottom: 5px;
  color: white;
}

.date {
  font-size: 14px;
  margin-top: 0;
  color: white;
}

.cover {
  padding: 0 20px;
  text-align: center;
  margin: 0 auto;
  position: relative;

  & .coverContainer {
    position: relative;
    width: 100%;
    max-width: 336px;
    margin: 0 auto;
    &:hover {
      & img {
        opacity: 0.2;
      }
      & .credits {
        opacity: 1;
      }
    }
  }

  & img {
    width: 100%;
    max-width: 336px;
    opacity: 1;
    transition: opacity 200ms;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  }

  & .credits {
    font-family: 'Fira Sans';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    top: 35%;
    width: 100%;
    color: white;

    opacity: 0;
    transition: opacity 200ms;

    & p {
      margin: 3px;
    }
  }
}

.links {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  max-width: 636px;
  margin-top: 10px;
}

.musicButton {
  width: 180px;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 300ms;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 5px;

  & img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@media (min-width: 1261px) {
  .release {
    text-align: center;
  }

  .links {
    display: inline-block;
    width: 430px;
    text-align: right;
    vertical-align: middle;
    margin-top: 0px;
  }

  .cover {
    display: inline-block;
    width: 430px;
    text-align: left;
    vertical-align: middle;
    margin-top: 5px;
  }
}
