@import '~styles/_breakpoints';
@import '~styles/_variables';

.banner {
  h1 {
    margin-left: 48px;
    font-family: "Fira Sans";
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(231, 231, 231);
    font-size: 28px;

    @include breakpoint (laptop-up) {
      margin-left: 0;
      font-size: 40px;
    }
  }

  > * {
    display: inline-block;
  }

  text-align: left;
  width: 100vw;
  height: $mobileBannerHeight;
  background-color: rgba(0, 0, 0, 0.2);

  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;

  @include breakpoint (laptop-up) {
    width: 300px;
    height: auto;
    background-color: transparent;
    text-align: center;
  }
}

.drawerButton {
  /* button reset */
  background: transparent;
  border: none;
  outline: none;

  position: absolute;
  top: 23px;
  left: 10px;

  @include breakpoint (laptop-up) {
    display: none;
  }
}

.logo {
  text-decoration: none;
}
